/* Configurações iniciais */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
/* font-family: 'Montserrat', sans-serif; */

:root {
    --color-hover: #4de639;
    --color-body: rgba(20, 28, 25, 0.97);
    --color-bodyAb: rgba(20, 25, 25, 0.97);
    --color-bodyPr: rgba(20, 22, 25, 0.97);
    --color-bodyFt: rgba(20, 20, 25, 0.97);
    --color-text: #ffffff;
    --color-shapes: #d0f7e4;
    --color-form: #8dc4ab;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */

html {
    scroll-behavior: smooth;
}

header {
    background-color: var(--color-body);
}

li {
    list-style: none
}

a {
    text-decoration: none;
    color: var(--color-text);
}


.nav_head {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 2em;
    font-weight: 600;
    color: var(--color-text);
    font-family: 'Open Sans', sans-serif;
}

.links {
    display: flex;
    gap: 2rem;
    font-weight: 400;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
}

.links a:hover {
    border-bottom: 2px solid var( --color-hover);
    transition: 0.1s;
}

.toggle_btn {
    display: none;
    color: #1D3557;
}

/* mobile menu */

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 900px) {
    .navbar .links, .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/* home */ 

.home {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 94vh;
}

.name_som {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.home_info {
    width: 570px;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-text); 
}

#tit {
    font-size: 1.5em;
}

.home_info p {
    margin-top: 4px;
}

.name_more {
    width: 150px;
    padding: 15px;
    border-radius: 5px;
    background-color: #1d5724;
    color: var(--color-text);
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 3px 1px rgba(0, 73, 75, 0.693);
}

.anim_btn {
    transition-property: transform;
    transition-duration: .1s;
}

.anim_btn:hover {
    transform: scale(1.02);
}

.img_me {
    background-image: url(img/1e9d6a75-d260-4bea-913e-5d6c0b4221fa-profile_image-300x300.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 450px;
    border-radius: 7px;
    box-shadow: 0px 3px 12px 0px rgb(32, 218, 224);
}

.angle_down {
    position: absolute;
    bottom: 35px;
    font-size: 1.5rem;
    cursor: pointer;
}

.angle_anim {
    animation: angle_anim 1.5s ease-out alternate infinite;
}

@keyframes angle_anim {
    to {
        transform: translateY(20px);
    }
}

/* SOBRE MIM */


#retan-tit {
    display: inline-block;
    height: 23px;
    width: 50px;
    margin-right: 15px;
    background-color: var(--color-form);
}

main h2 {
    color: var(--color-text);
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    padding: 35px 0 25px 0;
}

.about {
    background-color: var(--color-bodyAb);
    height: 100vh;
    width: 100%;
}

.about-me {
    max-width: 1200px;
    margin: 0 auto;
}

.about-flx {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}

.about-flx_img {
    height: 200px;
    width: 300px;
    background-image: url(img/1e9d6a75-d260-4bea-913e-5d6c0b4221fa-profile_image-300x300.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.about-flx_text {
    color: var(--color-text);
    width: 800px;
    font-size: 1.1em;
}

/* habilidades */

.skills {
    margin-top: 25px;
    color: var(--color-text);
    max-width: 1200px;
    margin: 0 auto;
}

.skills-flx {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.1em;
}

.skills-flx h3 {
    margin-bottom: 7px;
}

.skills-flx_html-css {
    width: 340px;
}

.skills-flx_html-css h3 {
    color: rgb(255, 136, 0);
}

.skills-flx_js {
    width: 350px;
}

.skills-flx_js h3 {
    color: rgb(242, 255, 0);
}

.skills-flx_react {
    width: 350px;
}

.skills-flx_react h3 {
    color: rgb(0, 255, 149);
}

.progress-bar {
    margin: 15px 0;
    position: relative;
}

.progress-bar progress {
    height: 1.5em;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 2px;
    overflow: hidden;
    width: 100%;
    
}

#progress-number__htmlcss {
    position: absolute;
    top: 4px;
    left: 87%;
}

.progress-bar #progress-htcss::-webkit-progress-bar {
    background-color: rgba(178, 252, 206, 0.348);
}

.progress-bar #progress-htcss::-webkit-progress-value {
    background-color: rgb(255, 136, 0);
}

#progress-number__js {
    position: absolute;
    top: 4px;
    left: 32%;
}

.progress-bar #progress-js::-webkit-progress-bar {
    background-color: rgba(178, 252, 206, 0.348);
}

.progress-bar #progress-js::-webkit-progress-value {
    background-color: rgb(242, 255, 0);
}

#progress-number__react {
    position: absolute;
    top: 4px;
    left: 2%;
}

.progress-bar #progress-react::-webkit-progress-bar {
    background-color: rgba(178, 252, 206, 0.348);
}

.progress-bar #progress-react::-webkit-progress-value {
    background-color: rgb(0, 255, 149);
}
/* firefox */

.progress-bar #progress-htcss::-moz-progress-bar { 
    background-color: rgb(255, 136, 0);
}  

.progress-bar #progress-js::-moz-progress-bar { 
    background-color: rgb(242, 255, 0)
}  

.progress-bar #progress-react::-moz-progress-bar { 
    background-color: rgb(0, 255, 149);
}  


/* LAST POSTS */

.exp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.lastposts_insta {
    height: 150px;
    width: 300px;
    background-color: #1D3557;
}

.lastposts_linked {
    height: 150px;
    width: 300px;
    background-color: #1D3557;
}

.lastposts_linked-2 {
    height: 150px;
    width: 300px;
    background-color: #1D3557;
}

/* redes sociais */

.about-redscs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 50px;
}

.instagram {
    height: 35px;
    width: 35px;
    background-image: url(img/insta-icns.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.instagram:hover {
    transform: scale(1.3);
    transition: 1s;
}

.github {
    height: 35px;
    width: 35px;
    background-image: url(img/github-icns.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.github:hover {
    transform: scale(1.3);
    transition: 1s;
}

.linkedin {
    height: 35px;
    width: 35px;
    background-image: url(img/linkedin-icns.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.linkedin:hover {
    transform: scale(1.3);
    transition: 1s;
}

/* Seção de projetos da pagina */

.projetos {
    height: 100vh;
    width: 100%;
    background-color: var(--color-bodyPr);
    color: var(--color-text);
}

.projetos-portfolio {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.1em;
}

.projetos_pessoais {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.projetos__skills {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.projetos__skills li {
    font-family: 'Open Sans', sans-serif;
    color: var(--color-text);
    padding: 10px;
    cursor: pointer;
    text-align: center;
    width: 60%;
}

.projetos__skills li:hover {
    border-bottom: 1px solid var(--color-hover);
    margin: -1px;
}

.projetos__skills li:active {
    border-bottom: 1px solid var(--color-hover);
}

.projetos__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 75px;
}


.projetos__item-1 {
    height: 230px;
    width: 350px;
    background-image: url(img/SalãodeJogos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.1);
    cursor: pointer;
}

.projetos__item-2 {
    height: 230px;
    width: 350px;
    background-image: url(img/Animezilian.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.1);
    cursor: pointer;
}


.projetos__item-3 {
    height: 230px;
    width: 350px;
    background-image: url(img/SalãodeJogos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.1);
    cursor: pointer;
}

.projetos__item-4 {
    height: 230px;
    width: 350px;
    background-image: url(img/Animezilian.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.1);
    cursor: pointer;
}


.projetos__item-5 {
    height: 230px;
    width: 350px;
    background-image: url(img/SalãodeJogos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.1);
    cursor: pointer;
}


.projetos__item-6 {
    height: 230px;
    width: 350px;
    background-image: url(img/Animezilian.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.1);
    cursor: pointer;
}


.projetos__item-btn {
    display: flex;
    justify-content: end;
    gap: 8px;
    margin-top: 25px;
    margin-right: 70px;
}

.projetos__item-btn li {
    font-size: 2em;
    color: var(--color-text);
    cursor: pointer;
}

.projetos__item-btn li:hover {
    color: var(--color-hover);
}

footer {
    background-color: var(--color-bodyFt);
    margin: 0 auto;
    height: 7vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

/* 
opcional quando souber mais javascript (fazer encaminhamento de mensagem direto por email)

.contact {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 40vh;
}

.contact-intr p {
    color: white;
    padding-bottom: 30px;
}

.type-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.type-contact h4 {
    color: #67d958;
}

.type-contact a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 300px;
    height: 150px;
}

.type-contact li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    color: var(--color-text);
    border: 1px solid var(--color-form);
} */